{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="home">
<div class="container">
    <div class="row">
        <div class="col-6 col-md-6 my-auto logo-and-text">
            <h1 class="display-6 logo-text">
                Here at FK, We supply Ireland with car performance parts!
            </h1>
            <div>
                <a href="{% url 'products' %}"><button class="button-shop-now">Shop Now!</button></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
