{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 col-md-6 my-auto">
            <h1 class="display-6 logo-text">
                <img src="./static/media/fk_home.png" alt="FK Hero Image" class="hero-image">
                Here at FK, We supply Ireland with car performance parts!
            </h1>
            <div>
                <a href=""><button class="button-shop-now">Shop Now!</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
