.logo {
    color: green;
    text-transform: uppercase;
}

.home {
    background: url('/media/fk_home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.nav-link {
    color: green;
}

.signup {
    padding-top: 3%;
}

.text-area {
    padding-top: 12%;
}

.card-img-top {
    padding-top: 15%;
}

.logo-text {
    padding-top: 70%;
    color: red;
    right: 50%;
}

.button-shop-now {
    background-color: green;
    padding: 16px 36px;
    font-size: 20px;
    color: white;
    display: inline-block;
}