.logo {
    color: green;
    text-transform: uppercase;
}

.forms {
    padding-top: 20%;
    padding-bottom: 10%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.home {
    background: url('/media/fk_home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.nav-link {
    color: green;
}

.signup {
    padding-top: 3%;
}

.logout-form {
    padding-top: 10%;
    text-align: center;
}

.text-area {
    padding-top: 12%;
}

.card-img-top {
    padding-top: 15%;
}

.logo-text {
    padding-top: 70%;
    color: red;
    right: 50%;
}

.button-shop-now {
    background-color: green;
    padding: 16px 36px;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.account-buttons {
    background-color: green;
    padding: 3px 15px;
    font-size: 20px;
    color: white;
    text-decoration: none !important;
    
}

.products-padding {
    padding-top: 10%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.bag-padding {
    padding-top: 10%;
}


/**** MEDIA QUERIES ****/
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 500px) {
    .nav-link {
        padding: 0.15rem;
    }

    .logo-text {
    font-size: 1em;
    }

    .logo-and-text {
        padding-top: 25%;
    }

    .button-shop-now {
        padding: 5px;
    }

    .products-padding {
        padding-top: 20%;
    }
}