{% extends "base.html" %} {% load static %} {% block page_header %} <div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
    </div>
    {% endblock %}
    {% block content %}
    <div class="container add-product-padding">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Contact Us!</h2>
                <hr>
                <a class="icons" target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a class="icons" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a class="icons" target="_blank" href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
                <a class="icons" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <hr>
                <h5 class="text-muted">Fill out the form below.</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="#" class="form mb-2" id="add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ contact_form.full_name | as_crispy_field }}
                    {{ contact_form.email | as_crispy_field }}
                    {{ contact_form.description | as_crispy_field }}
                    <div class="text-center">
                        <a class="btn btn-dark" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-dark" type="submit">Contact Us!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}